[Desktop Entry]
Name=ELK Recorder
Comment=Elektron Libre Recorder
Exec=env GST_DEBUG=2 GST_DEBUG_FILE=/var/log/elkr.log /usr/bin/elkr
Terminal=false
Type=Application
Categories=Audio
StartupNotify=true
Keywords=Teuf;Tekno;FreeParty;Audio;Recorder;ELK